node-red/lib/flows/earthquakes to LED
[{"id":"430ec851.0e0368","type":"serial-port","z":"7cf56239.e8cc6c","serialport":"/dev/cu.usbmodem14121","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"c41c446f.826798","type":"inject","z":"7cf56239.e8cc6c","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 0 * * *","once":false,"x":119,"y":143,"wires":[["661dc027.e5cb8"]]},{"id":"661dc027.e5cb8","type":"http request","z":"7cf56239.e8cc6c","name":"Earthquake API","method":"GET","ret":"obj","url":"http://www.kuakes.com/json/","x":307,"y":150,"wires":[["3d01cde.f66b832"]]},{"id":"3d01cde.f66b832","type":"function","z":"7cf56239.e8cc6c","name":"Is magnitude increasing?","func":"if (msg.payload) {\n    var earthquakesNew = msg.payload.slice(1,25);\n    var earthquakesOld = msg.payload.slice(26);\n    \n    var magNew = 0;\n    for(var i =0; i < earthquakesNew.length; i++){\n        magNew += parseFloat(earthquakesNew[i].mag);\n    }\n    \n    var magOld = 0;\n    for(var i =0; i < earthquakesOld.length; i++){\n        magOld += parseFloat(earthquakesOld[i].mag);\n    }\n    \n    var isIncreasing = magNew > magOld ? \"255\" : \"0\" ;\n    return [{payload:isIncreasing}]\n}\n\nreturn null;","outputs":"1","noerr":0,"x":514,"y":262,"wires":[["a3400879.2ef568","3a5a2b73.105364","c386a58f.5cfcc8"]]},{"id":"3a5a2b73.105364","type":"serial out","z":"7cf56239.e8cc6c","name":"","serial":"430ec851.0e0368","x":902,"y":200,"wires":[]},{"id":"f200b5b.f7a5e48","type":"debug","z":"7cf56239.e8cc6c","name":"","active":true,"console":"false","complete":"payload","x":980,"y":400,"wires":[]},{"id":"a3400879.2ef568","type":"template","z":"7cf56239.e8cc6c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Is earthquake magnitude increasing: {{payload}}","x":773,"y":391,"wires":[["f200b5b.f7a5e48"]]},{"id":"22b68611.b3e85a","type":"inject","z":"7cf56239.e8cc6c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":572,"y":158,"wires":[["3a5a2b73.105364"]]},{"id":"98cf3725.7f1e48","type":"inject","z":"7cf56239.e8cc6c","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":571,"y":200,"wires":[["3a5a2b73.105364"]]},{"id":"f5f92c3a.b9d4","type":"twitter out","z":"7cf56239.e8cc6c","twitter":"","name":"Tweet","x":1225,"y":312,"wires":[]},{"id":"c386a58f.5cfcc8","type":"switch","z":"7cf56239.e8cc6c","name":"If greater than 1","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"}],"checkall":"false","outputs":1,"x":864,"y":308,"wires":[["a865ada5.5758f"]]},{"id":"a865ada5.5758f","type":"template","z":"7cf56239.e8cc6c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"RUMBLE!","x":1049,"y":314,"wires":[["f5f92c3a.b9d4"]]}]