node-red/lib/flows/mapping earthquakes
[{"id":"cb4dc817.b93198","type":"inject","z":"24dad706.447ec8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":282,"y":206,"wires":[["cc6ee853.c9cf68"]]},{"id":"cc6ee853.c9cf68","type":"function","z":"24dad706.447ec8","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":519,"y":241,"wires":[["c6b0badc.81cdb8"]]},{"id":"f5a17636.3f7438","type":"function","z":"24dad706.447ec8","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":481.5,"y":368,"wires":[["c6b0badc.81cdb8"]]},{"id":"d252d4b1.33f9d8","type":"function","z":"24dad706.447ec8","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":284,"wires":[["c6b0badc.81cdb8"]]},{"id":"345b819.f258a7e","type":"csv","z":"24dad706.447ec8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":315,"y":308,"wires":[["f5a17636.3f7438"]]},{"id":"d80b9aa7.932e98","type":"inject","z":"24dad706.447ec8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":228,"y":248,"wires":[["d252d4b1.33f9d8"]]},{"id":"e004d379.1d511","type":"http request","z":"24dad706.447ec8","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","x":210.5,"y":368,"wires":[["345b819.f258a7e"]]},{"id":"7f85cac9.8b7ee4","type":"inject","z":"24dad706.447ec8","name":"Quakes","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":false,"x":155,"y":308,"wires":[["e004d379.1d511"]]},{"id":"c6b0badc.81cdb8","type":"worldmap","z":"24dad706.447ec8","name":"","x":890,"y":217,"wires":[]}]