node-red/lib/flows/Toggle Functions
[{"id":"a1181fb8.f1743","type":"function","z":"5aa456cc.3137c8","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":1,"x":453,"y":626,"wires":[["56f392d9.95584c"],["9a50a9bb.dab8d8"]]},{"id":"9a50a9bb.dab8d8","type":"delay","z":"5aa456cc.3137c8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":459,"y":752,"wires":[["a1181fb8.f1743"]]},{"id":"56f392d9.95584c","type":"debug","z":"5aa456cc.3137c8","name":"","active":false,"console":"false","complete":"false","x":668,"y":618,"wires":[]},{"id":"9e75dec6.2cf28","type":"inject","z":"5aa456cc.3137c8","name":"toggle loop 1","topic":"loop1","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"x":245,"y":625,"wires":[["a1181fb8.f1743"]]},{"id":"21e93d72.1adc82","type":"function","z":"5aa456cc.3137c8","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","x":469,"y":872,"wires":[["425eb14.e25245"],["5fd978c3.ac7fc8"]]},{"id":"5fd978c3.ac7fc8","type":"delay","z":"5aa456cc.3137c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":469,"y":999,"wires":[["21e93d72.1adc82"]]},{"id":"425eb14.e25245","type":"debug","z":"5aa456cc.3137c8","name":"","active":true,"console":"false","complete":"false","x":658,"y":867,"wires":[]},{"id":"467881c8.f609a","type":"inject","z":"5aa456cc.3137c8","name":"start loop 2","topic":"loop2","payload":"start","payloadType":"string","repeat":"","crontab":"","once":false,"x":247,"y":837,"wires":[["21e93d72.1adc82"]]},{"id":"cca9925d.02eb6","type":"inject","z":"5aa456cc.3137c8","name":"stop loop 2","topic":"loop2","payload":"stop","payloadType":"string","repeat":"","crontab":"","once":false,"x":249,"y":913,"wires":[["21e93d72.1adc82"]]}]