node-red/lib/flows/examples/air-quality
[{"id":"161f31cf.9ae5ee","type":"inject","z":"5aa456cc.3137c8","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 5-13 * * 1,2,3,4,5,6","once":false,"x":200,"y":233,"wires":[["48346e12.01209"]]},{"id":"48346e12.01209","type":"http request","z":"5aa456cc.3137c8","name":"M304 Air Quality","method":"GET","ret":"obj","url":"https://iot.seeed.cc/v1/node/GroveAirqualityA0/quality?access_token=16978a35475f3a331aab7ea254580119","x":446,"y":278,"wires":[["1f9359c3.9779d6","45947e33.3eed9"]]},{"id":"1f9359c3.9779d6","type":"debug","z":"5aa456cc.3137c8","name":"","active":false,"console":"false","complete":"false","x":758,"y":224,"wires":[]},{"id":"7b3f2000.5a627","type":"twitter out","z":"5aa456cc.3137c8","twitter":"","name":"Tweet","x":1184,"y":414,"wires":[]},{"id":"1fac8bb6.289d24","type":"slack","z":"5aa456cc.3137c8","name":"","channelURL":"https://hooks.slack.com/services/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","username":"M304","emojiIcon":":glitch_crab:","channel":"#random","x":1184,"y":612,"wires":[]},{"id":"45947e33.3eed9","type":"switch","z":"5aa456cc.3137c8","name":"If quality drops","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"70","vt":"str"},{"t":"lte","v":"70","vt":"str"},{"t":"lte","v":"55","vt":"str"},{"t":"lte","v":"40","vt":"str"}],"checkall":"false","outputs":4,"x":584,"y":520,"wires":[["ec255642.180068"],["4018748f.f2687c"],["5fe907df.b491d8"],["57e40ad5.a9efb4"]]},{"id":"4018748f.f2687c","type":"template","z":"5aa456cc.3137c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Air quality in M304 is dropping. ({{payload.quality}})","x":847,"y":486,"wires":[["1fac8bb6.289d24","7b3f2000.5a627","fb7c0187.81721"]]},{"id":"5fe907df.b491d8","type":"template","z":"5aa456cc.3137c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Wow, there is some noxious oxygen floating in this space. ({{payload.quality}})","x":849,"y":534,"wires":[["1fac8bb6.289d24","7b3f2000.5a627","fb7c0187.81721"]]},{"id":"57e40ad5.a9efb4","type":"template","z":"5aa456cc.3137c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It might be time to consider opening some windows! ({{payload.quality}})","x":852,"y":586,"wires":[["1fac8bb6.289d24","7b3f2000.5a627","fb7c0187.81721"]]},{"id":"ec255642.180068","type":"template","z":"5aa456cc.3137c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Smells of roses in here. ({{payload.quality}})","x":845,"y":433,"wires":[["1fac8bb6.289d24","7b3f2000.5a627","fb7c0187.81721"]]},{"id":"fb7c0187.81721","type":"debug","z":"5aa456cc.3137c8","name":"","active":true,"console":"false","complete":"false","x":1198,"y":285,"wires":[]}]