node-red/lib/flows/examples/earthquake-monitor
[{"id":"f2854740.f04138","type":"serial-port","z":"4fc14fa3.9fc48","serialport":"/dev/cu.usbmodem14121","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"2606cc8a.fb6dc4","type":"inject","z":"4fc14fa3.9fc48","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 0 * * *","once":false,"x":104,"y":369,"wires":[["d733fda1.d2f2e"]]},{"id":"d733fda1.d2f2e","type":"http request","z":"4fc14fa3.9fc48","name":"Earthquake API","method":"GET","ret":"obj","url":"http://www.kuakes.com/json/","x":265,"y":368,"wires":[["a1431d1a.72956","cf0ab57e.ac7e58","981ec814.451c78","6b17c8b.e5f8d38"]]},{"id":"f4593a8a.4d36c8","type":"debug","z":"4fc14fa3.9fc48","name":"","active":false,"complete":"payload","x":987,"y":214,"wires":[]},{"id":"6b19ce47.ca319","type":"function","z":"4fc14fa3.9fc48","name":"Magnitude","func":"if (msg.payload) {\n    var earthquakes = msg.payload;\n    var magnitude = {payload : 0};\n    for(var i =0; i < earthquakes.length; i++){\n        magnitude.payload += parseFloat(earthquakes[i].mag);\n    }\n    \n    return magnitude;\n}\n\nreturn null;","outputs":"1","noerr":0,"x":768,"y":220,"wires":[["f4593a8a.4d36c8"]]},{"id":"21d153d0.02dd2c","type":"debug","z":"4fc14fa3.9fc48","name":"","active":false,"complete":false,"x":1001,"y":335,"wires":[]},{"id":"cf0ab57e.ac7e58","type":"function","z":"4fc14fa3.9fc48","name":"Oldest Earthquakes","func":"if (msg.payload) {\n    msg.payload = msg.payload.slice(26);\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":521,"y":303,"wires":[["415959ef.2fce68"]]},{"id":"a1431d1a.72956","type":"function","z":"4fc14fa3.9fc48","name":"Newest Earthquakes","func":"if (msg.payload) {\n    msg.payload = msg.payload.slice(1, 25);\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":521,"y":224,"wires":[["6b19ce47.ca319"]]},{"id":"981ec814.451c78","type":"function","z":"4fc14fa3.9fc48","name":"Is magnitude increasing?","func":"if (msg.payload) {\n    var earthquakesNew = msg.payload.slice(1,25);\n    var earthquakesOld = msg.payload.slice(26);\n    \n    var magNew = 0;\n    for(var i =0; i < earthquakesNew.length; i++){\n        magNew += parseFloat(earthquakesNew[i].mag);\n    }\n    \n    var magOld = 0;\n    for(var i =0; i < earthquakesOld.length; i++){\n        magOld += parseFloat(earthquakesOld[i].mag);\n    }\n    \n    var isIncreasing = magNew > magOld ? \"255\" : \"0\" ;\n    return [{payload:isIncreasing}]\n}\n\nreturn null;","outputs":"1","noerr":0,"x":499,"y":488,"wires":[["f2f047ef.e7f058","9a4c9d91.db2f7","85bcaa4f.7c9118"]]},{"id":"415959ef.2fce68","type":"function","z":"4fc14fa3.9fc48","name":"Magnitude","func":"if (msg.payload) {\n    var earthquakes = msg.payload;\n    var magnitude = {payload : 0};\n    for(var i =0; i < earthquakes.length; i++){\n        magnitude.payload += parseFloat(earthquakes[i].mag);\n    }\n    \n    return magnitude;\n}\n\nreturn null;","outputs":"1","noerr":0,"x":767,"y":310,"wires":[["21d153d0.02dd2c"]]},{"id":"9a4c9d91.db2f7","type":"serial out","z":"4fc14fa3.9fc48","name":"","serial":"f2854740.f04138","x":887,"y":426,"wires":[]},{"id":"65973174.0ea91","type":"debug","z":"4fc14fa3.9fc48","name":"","active":true,"console":"false","complete":"payload","x":965,"y":626,"wires":[]},{"id":"f2f047ef.e7f058","type":"template","z":"4fc14fa3.9fc48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Is earthquake magnitude increasing: {{payload}}","x":758,"y":617,"wires":[["65973174.0ea91"]]},{"id":"8c561cc5.bcacf","type":"inject","z":"4fc14fa3.9fc48","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":557,"y":364,"wires":[["9a4c9d91.db2f7"]]},{"id":"fab147d0.9242e8","type":"inject","z":"4fc14fa3.9fc48","name":"","topic":"","payload":"127","payloadType":"num","repeat":"","crontab":"","once":false,"x":556,"y":402,"wires":[["9a4c9d91.db2f7"]]},{"id":"8b5be44a.fc9348","type":"inject","z":"4fc14fa3.9fc48","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":555,"y":441,"wires":[["9a4c9d91.db2f7"]]},{"id":"6b17c8b.e5f8d38","type":"function","z":"4fc14fa3.9fc48","name":"Date","func":"if (msg.payload) {\n    var latest = msg.payload[1];\n    var earliest = msg.payload[50];\n    \n    var dates = { \n        payload : {\n            latest : latest.time,\n            earliest : earliest.time\n        }\n    };\n    return dates;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":439.5,"y":134,"wires":[["87260eb6.e6875"]]},{"id":"87260eb6.e6875","type":"template","z":"4fc14fa3.9fc48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Earliest: {{payload.earliest}}\nLatest: {{payload.latest}}","x":591,"y":123,"wires":[["f3e5950c.5fec38"]]},{"id":"f3e5950c.5fec38","type":"debug","z":"4fc14fa3.9fc48","name":"","active":false,"console":"false","complete":"payload","x":757,"y":93,"wires":[]},{"id":"2d2a0dfe.76c202","type":"twitter out","z":"4fc14fa3.9fc48","twitter":"","name":"Tweet","x":1210,"y":538,"wires":[]},{"id":"85bcaa4f.7c9118","type":"switch","z":"4fc14fa3.9fc48","name":"If greater than 1","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"}],"checkall":"false","outputs":1,"x":849,"y":534,"wires":[["b7e3af25.3ac9b"]]},{"id":"b7e3af25.3ac9b","type":"template","z":"4fc14fa3.9fc48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"RUMBLE!","x":1034,"y":540,"wires":[["2d2a0dfe.76c202"]]}]