node-red/lib/flows/examples/timestamp-to-mqtt
[{"id":"4878d661.637188","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"f065027b.a9cb9","type":"debug","z":"b39478fa.989768","name":"","active":false,"console":"false","complete":"false","x":695,"y":405,"wires":[]},{"id":"bdf1944b.d2e5e8","type":"delay","z":"b39478fa.989768","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":365,"y":216,"wires":[["f065027b.a9cb9","f4e6986e.30a928"]]},{"id":"1584f406.e906cc","type":"inject","z":"b39478fa.989768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169.5,"y":113,"wires":[["bdf1944b.d2e5e8"]]},{"id":"f4e6986e.30a928","type":"mqtt out","z":"b39478fa.989768","name":"","topic":"idc/test/increment","qos":"","retain":"false","broker":"4878d661.637188","x":693,"y":155,"wires":[]}]