node-red/lib/flows/examples/xbee-send-serial-msg
[{"id":"6ae86822.78ac48","type":"inject","z":"ac883a8a.339098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":154,"y":146,"wires":[["560c008f.4c286"]]},{"id":"560c008f.4c286","type":"function","z":"ac883a8a.339098","name":"Increment Position","func":"context.global.current_pos = context.global.current_pos || 0;\n\ncontext.global.current_pos += 10;\nif(context.global.current_pos > 180){\n    context.global.current_pos = 0;\n}\n\nmsg.payload = context.global.current_pos;\nreturn msg;","outputs":1,"noerr":0,"x":317.0909118652344,"y":219.72726440429688,"wires":[["6804538d.b199ac"]]},{"id":"f40a45ed.04f2b8","type":"debug","z":"ac883a8a.339098","name":"","active":false,"complete":"payload","x":774.0909423828125,"y":133.5454559326172,"wires":[]},{"id":"6804538d.b199ac","type":"function","z":"ac883a8a.339098","name":"Prepend W and Pad 3 ","func":"function pad(n) {\n  width = 3;\n  z = '0';\n  n = n + '';\n  return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;\n}\n\nmsg.payload = \"w\"+pad(msg.payload, 3);\n\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":259,"wires":[["f40a45ed.04f2b8"]]},{"id":"7e4b789c.044f48","type":"comment","z":"ac883a8a.339098","name":"Serial port goes here","info":"","x":883,"y":367,"wires":[]}]