node-red/flows.json
[{"type":"tab","id":"b8c8344b.3eedb8","label":"sentiment-v003"},{"id":"9cc578d.8c60988","type":"mqtt-broker","z":"","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"verifyservercert":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"1","birthRetain":null,"birthPayload":""},{"id":"66fdc64b.63b648","type":"twitter-credentials","z":"","screen_name":"@EstravenTherem"},{"id":"fa556a6f.4d25d8","type":"mqtt-broker","z":"","broker":"10.64.134.11","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"b362fec3.93fc","type":"ui_tab","name":"Home","icon":"dashboard","order":"1"},{"id":"b0cfd026.a6ea","type":"websocket-listener","path":"/ws/worldmap","wholemsg":"false"},{"id":"be57de9c.ba355","type":"mqtt-broker","broker":"realtime.ngi.ibm.com","port":"1883","clientid":""},{"id":"ac416862.cc1138","type":"mqtt-broker","broker":"realtime.ngi.ibm.com","port":"1883","clientid":""},{"id":"89db97c.6471c68","type":"ui_tab","z":"b8c8344b.3eedb8","name":"V003","icon":"dashboard","order":"1"},{"id":"70a0aac3.659cd4","type":"function","z":"b8c8344b.3eedb8","name":"date","func":"var date = new Date();\nvar d = {\n  \"secs\"  : String(\"00\" + date.getSeconds()).slice(-2),\n  \"min\"   : String(\"00\" + date.getMinutes()).slice(-2),\n  \"hour\"  : String(\"00\" + date.getHours()).slice(-2),\n  \"day\"   : String(\"00\" + date.getDate()).slice(-2),\n  \"month\" : String(\"00\" + parseInt(date.getMonth()+1)).slice(-2),\n  \"year\"  : date.getFullYear()\n}\n\nvar out = { \n    \"formatted\" :   d.year + '-' +\n                    d.month + '-' +\n                    d.day + '-' +                    \n                    d.hour + d.min + d.secs,\n    \"timestamp\" :   msg.payload\n}\n\nreturn { payload: out };","outputs":1,"noerr":0,"x":554.5,"y":41,"wires":[["1705aceb.5eba33"]]},{"id":"2ea1e4f2.a2422c","type":"exec","z":"b8c8344b.3eedb8","command":"cd ","addpay":true,"append":"","useSpawn":"","name":"Start recording","x":770.5,"y":71,"wires":[[],[],[]]},{"id":"324652d2.cf845e","type":"exec","z":"b8c8344b.3eedb8","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":439.5,"y":113,"wires":[["70a0aac3.659cd4"],[],[]]},{"id":"b248cd61.70afd","type":"exec","z":"b8c8344b.3eedb8","command":"ps aux | grep \"[s]ox\" | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","name":"Get sox PID","x":396.5,"y":43,"wires":[["324652d2.cf845e"],[],[]]},{"id":"8d633342.0fee","type":"inject","z":"b8c8344b.3eedb8","name":"start","topic":"loop2","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":70.5,"y":115,"wires":[["b248cd61.70afd","f8186ee9.08d71","55ec8e98.ce3fb"]]},{"id":"60fa403.12110c","type":"exec","z":"b8c8344b.3eedb8","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":508,"y":187,"wires":[["39e517a7.e68e18","5456ca46.ed6244"],[],[]]},{"id":"91ca0b97.1c3d08","type":"exec","z":"b8c8344b.3eedb8","command":"ps aux | grep \"[s]ox\" | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","name":"Get sox PID","x":355,"y":183,"wires":[["60fa403.12110c"],[],[]]},{"id":"f8186ee9.08d71","type":"delay","z":"b8c8344b.3eedb8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":251,"y":112,"wires":[["91ca0b97.1c3d08"]]},{"id":"a54540ca.7826b","type":"exec","z":"b8c8344b.3eedb8","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":560,"y":569,"wires":[[],[],[]]},{"id":"45e59e77.db681","type":"exec","z":"b8c8344b.3eedb8","command":"ps aux | grep \"[s]ox\" | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","name":"Get sox PID","x":373,"y":576,"wires":[["a54540ca.7826b"],[],[]]},{"id":"f3e58262.fad87","type":"inject","z":"b8c8344b.3eedb8","name":"kill","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121,"y":478,"wires":[["f7f2e99f.aed3e8"]]},{"id":"f7f2e99f.aed3e8","type":"function","z":"b8c8344b.3eedb8","name":"","func":"flow.set('wavs', null);\nflow.set('transcripts', null);\n\nvar stack = flow.get('wavs') || [];\nvar transcripts = flow.get('transcripts') || [];\nif(stack.length > 0 || transcripts.length > 0){\n    node.warn(\"Stacks should be empty\");\n}\n\nreturn msg;","outputs":"2","noerr":0,"x":261,"y":495,"wires":[["45e59e77.db681"],[]]},{"id":"39e517a7.e68e18","type":"function","z":"b8c8344b.3eedb8","name":"extract file","func":"var stack = flow.get('wavs') || [];\nnode.warn(stack);\nif(stack.length >= 1){\n    msg.payload = stack[0];\n    stack.splice(0, 1);\n    flow.set(\"wavs\", stack);\n    msg.stack = stack;\n    return [msg, null];\n} else {\n    msg.payload = \"Stack empty\";\n    return [null, msg]\n}","outputs":"2","noerr":0,"x":158,"y":276,"wires":[["ef78b7ae.657c28"],["cd0f5fdb.d23c"]]},{"id":"ef78b7ae.657c28","type":"function","z":"b8c8344b.3eedb8","name":"set filename","func":"msg.filename = flow.get(\"base_dir\") + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":330,"wires":[["c48f5cd4.83292"]]},{"id":"cd0f5fdb.d23c","type":"debug","z":"b8c8344b.3eedb8","name":"","active":true,"console":"false","complete":"payload","x":322.5,"y":397,"wires":[]},{"id":"c48f5cd4.83292","type":"file in","z":"b8c8344b.3eedb8","name":"","filename":"","format":"","x":364.5,"y":272,"wires":[["5e96652b.106a2c"]]},{"id":"5e96652b.106a2c","type":"function","z":"b8c8344b.3eedb8","name":"headers","func":"msg.headers = {'Content-Type' : 'audio/wav'};\nmsg.url=\"https://stream.watsonplatform.net/speech-to-text/api/v1/recognize?timestamps=true&continuous=true\";\nreturn msg;","outputs":1,"noerr":0,"x":516,"y":266,"wires":[["6eeb75e0.c2d2fc"]]},{"id":"6eeb75e0.c2d2fc","type":"http request","z":"b8c8344b.3eedb8","name":"S2T","method":"POST","ret":"obj","url":"","x":666,"y":253,"wires":[["99e926fb.6ba4b8"]]},{"id":"99e926fb.6ba4b8","type":"function","z":"b8c8344b.3eedb8","name":"transcript","func":"if(msg.payload.results.length > 0){\n    msg.payload = msg.payload.results[0].alternatives[0].transcript;\n    msg.transcript = msg.payload;\n} else {\n    msg.payload = \"\"; \n    msg.transcript = \"\";\n}\nreturn msg;","outputs":"1","noerr":0,"x":475,"y":340,"wires":[["56890263.dedb2c","feeea6ec.2f99e8"]]},{"id":"56890263.dedb2c","type":"sentiment","z":"b8c8344b.3eedb8","name":"","x":632,"y":340,"wires":[["cdc10919.151638"]]},{"id":"cdc10919.151638","type":"function","z":"b8c8344b.3eedb8","name":"store","func":"// Add to stack.\nvar transcripts = flow.get('transcripts') || [];\ntranscripts.push({\n    transcript : msg.transcript, \n    sentiment  : msg.sentiment.score\n});\nflow.set('transcripts', transcripts);\nmsg.transcripts = transcripts.reverse();\nmsg.payload = parseInt(msg.sentiment.score);\nreturn msg;","outputs":"1","noerr":0,"x":543.5,"y":397,"wires":[["acebff00.93f05"]]},{"id":"feeea6ec.2f99e8","type":"debug","z":"b8c8344b.3eedb8","name":"","active":true,"console":"false","complete":"payload","x":769.5,"y":395,"wires":[]},{"id":"acebff00.93f05","type":"ui_template","z":"b8c8344b.3eedb8","tab":"89db97c.6471c68","name":"","group":"","order":1,"format":"<header><h3>Queued: {{msg.stack.length}}</h3></header>\n<div ng-repeat=\"t in msg.transcripts\">\n    <div>({{t}})</div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":663,"y":454,"wires":[["cbc6f2e0.e855"]]},{"id":"1705aceb.5eba33","type":"function","z":"b8c8344b.3eedb8","name":"prep+store","func":"var filename = msg.payload.formatted + \".wav\";\nmsg.payload = \" \" + flow.get(\"base_dir\") + \" && sox -d \" + filename;\n\n// Add to stack.\nvar stack = flow.get('wavs') || [];\nstack.push(filename);\nflow.set('wavs', stack);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":583,"y":91,"wires":[["2ea1e4f2.a2422c"]]},{"id":"55ec8e98.ce3fb","type":"function","z":"b8c8344b.3eedb8","name":"Flow config","func":"flow.set(\"base_dir\", \"/Users/gfoote/Desktop/audio/\");\nreturn null;","outputs":1,"noerr":0,"x":188,"y":160,"wires":[[]]},{"id":"cbc6f2e0.e855","type":"osc out","z":"b8c8344b.3eedb8","name":"Processing complete","addr":"localhost","port":"13000","path":"/processingcomplete","x":752,"y":523,"wires":[]},{"id":"fa5544fc.a9ff68","type":"osc in","z":"b8c8344b.3eedb8","name":"listen","addr":"127.0.0.1","port":"12000","x":61,"y":32,"wires":[["e8daf47a.f6e6b8"]]},{"id":"5456ca46.ed6244","type":"osc out","z":"b8c8344b.3eedb8","name":"Recording complete","addr":"localhost","port":"13000","path":"/recordingcomplete","x":752,"y":161,"wires":[]},{"id":"b6241b42.9fa458","type":"inject","z":"b8c8344b.3eedb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":652,"wires":[["d35c3c03.d86af"]]},{"id":"8ad85a4c.40af88","type":"debug","z":"b8c8344b.3eedb8","name":"","active":true,"console":"false","complete":"payload","x":411,"y":653,"wires":[]},{"id":"d35c3c03.d86af","type":"function","z":"b8c8344b.3eedb8","name":"extract file","func":"var stack = flow.get('wavs') || [];\nvar transcripts = flow.get('transcripts') || [];\nmsg.payload = { stack: stack, transcripts : transcripts};\n\nreturn msg;","outputs":"2","noerr":0,"x":272.5,"y":715,"wires":[["8ad85a4c.40af88"],[]]},{"id":"e8daf47a.f6e6b8","type":"switch","z":"b8c8344b.3eedb8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/record","vt":"str"},{"t":"eq","v":"/kill","vt":"str"}],"checkall":"true","outputs":2,"x":178,"y":27,"wires":[["b248cd61.70afd","f8186ee9.08d71","55ec8e98.ce3fb"],["f7f2e99f.aed3e8"]]}]
