node-red/flows.json
[{"type":"tab","id":"ea25e2b8.41432","label":"Flow 1"},{"type":"tab","id":"1cd194d3.18e8db","label":"Flow 3"},{"type":"tab","id":"98cd304d.c9078","label":"sensitive-v002"},{"type":"tab","id":"b8c8344b.3eedb8","label":"sentiment-v003"},{"id":"9cc578d.8c60988","type":"mqtt-broker","z":"","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"verifyservercert":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"1","birthRetain":null,"birthPayload":""},{"id":"66fdc64b.63b648","type":"twitter-credentials","z":"","screen_name":"@EstravenTherem"},{"id":"fa556a6f.4d25d8","type":"mqtt-broker","z":"","broker":"10.64.134.11","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"b362fec3.93fc","type":"ui_tab","name":"Home","icon":"dashboard","order":"1"},{"id":"b0cfd026.a6ea","type":"websocket-listener","path":"/ws/worldmap","wholemsg":"false"},{"id":"be57de9c.ba355","type":"mqtt-broker","broker":"realtime.ngi.ibm.com","port":"1883","clientid":""},{"id":"ac416862.cc1138","type":"mqtt-broker","broker":"realtime.ngi.ibm.com","port":"1883","clientid":""},{"id":"d7d05398.e8709","type":"ui_tab","z":"98cd304d.c9078","name":"V002","icon":"dashboard","order":"1"},{"id":"89db97c.6471c68","type":"ui_tab","z":"b8c8344b.3eedb8","name":"V003","icon":"dashboard","order":"1"},{"id":"dc513b70.496de8","type":"inject","z":"ea25e2b8.41432","name":"","topic":"","payload":"mothmancometh","payloadType":"str","repeat":"","crontab":"","once":false,"x":141.5,"y":150,"wires":[["904f1551.ed0d98"]]},{"id":"22e741ba.1f456e","type":"debug","z":"ea25e2b8.41432","name":"","active":true,"console":"false","complete":"false","x":574.5,"y":120,"wires":[]},{"id":"904f1551.ed0d98","type":"sample","z":"ea25e2b8.41432","name":"","topic":"","x":345.5,"y":202,"wires":[["22e741ba.1f456e"]]},{"id":"5205814d.d4434","type":"tail","z":"1cd194d3.18e8db","name":"","filetype":"binary","split":false,"filename":"/Users/gfoote/Dropbox/Projects/EMILY_CUSSINS/production/test2.wav","x":522,"y":43,"wires":[[]]},{"id":"b2fcbb04.16f3e8","type":"watson-speech-to-text","z":"1cd194d3.18e8db","name":"","continuous":true,"lang":"","langhidden":"","band":"","bandhidden":"","password":"fhgheTnD04fY","x":552,"y":1133,"wires":[["b339211b.3a123"]]},{"id":"2cc12469.0779ec","type":"file in","z":"1cd194d3.18e8db","name":"","filename":"/Users/gfoote/Dropbox/Projects/EMILY_CUSSINS/production/test2.wav","format":"","x":376,"y":921,"wires":[["b2fcbb04.16f3e8"]]},{"id":"b3fed867.1415c8","type":"inject","z":"1cd194d3.18e8db","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129,"y":1077,"wires":[["2cc12469.0779ec"]]},{"id":"b339211b.3a123","type":"debug","z":"1cd194d3.18e8db","name":"","active":true,"console":"false","complete":"false","x":721,"y":1020,"wires":[]},{"id":"c7ae7b4c.afa0f8","type":"inject","z":"1cd194d3.18e8db","name":"","topic":"","payload":"http://www-mobile.ecs.soton.ac.uk/hth97r/links/Database/man1_wb.wav","payloadType":"str","repeat":"","crontab":"","once":false,"x":119,"y":581,"wires":[["ac1cfd87.5ddd4"]]},{"id":"ac1cfd87.5ddd4","type":"function","z":"1cd194d3.18e8db","name":"","func":"audiourl = encodeURI(msg.payload)\nmsg.url=audiourl;\nreturn msg;","outputs":1,"noerr":0,"x":197,"y":660,"wires":[["a6fabd6b.310b"]]},{"id":"a6fabd6b.310b","type":"http request","z":"1cd194d3.18e8db","name":"","method":"GET","ret":"bin","url":"","x":267,"y":542,"wires":[["75be51dd.55d91"]]},{"id":"75be51dd.55d91","type":"function","z":"1cd194d3.18e8db","name":"","func":"msg.headers = {'Content-Type' : 'audio/wav'};\nmsg.url=\"https://stream.watsonplatform.net/speech-to-text/api/v1/recognize?timestamps=true&continuous=true\";\nreturn msg;","outputs":1,"noerr":0,"x":409,"y":581,"wires":[["969724af.b82a48","c0aab00a.253a3"]]},{"id":"969724af.b82a48","type":"http request","z":"1cd194d3.18e8db","name":"S2T","method":"POST","ret":"obj","url":"","x":495,"y":659,"wires":[["701ad584.56f25c"]]},{"id":"701ad584.56f25c","type":"function","z":"1cd194d3.18e8db","name":"","func":"msg.sttout = msg.payload.results[0].alternatives[0];\nmsg.transcript = msg.payload.results[0].alternatives[0].transcript;\nmsg.headers = {'Content-Type' : 'text/html'};\nreturn msg;","outputs":1,"noerr":0,"x":657,"y":621,"wires":[["ece9ab24.ab5538"]]},{"id":"ece9ab24.ab5538","type":"json","z":"1cd194d3.18e8db","name":"","x":649,"y":547,"wires":[[]]},{"id":"2a5f6928.e3bf76","type":"exec","z":"1cd194d3.18e8db","command":"cd /Users/gfoote/Dropbox/Projects/EMILY_CUSSINS/production/ && sox -d","addpay":true,"append":"","useSpawn":"","name":"Start recording","x":563.5,"y":94.5,"wires":[[],[],[]]},{"id":"d7acb07c.1bba5","type":"function","z":"1cd194d3.18e8db","name":"(yyyy-mm-dd-hhmm)","func":"var date = new Date();\nvar d = {\n  \"secs\"  : date.getSeconds(),\n  \"min\"  : date.getMinutes(),\n  \"hour\"    : date.getHours(),\n  \"day\"     : date.getDate(),\n  \"month\"   : date.getMonth()+1,\n  \"year\"    : date.getFullYear()\n}\n\nvar out = { \n    \"formatted\" :   d.year + '-' +\n                    d.month + '-' +\n                    d.day + '-' +                    \n                    d.hour + d.min + d.secs,\n    \"timestamp\" :   msg.payload\n}\n\nreturn { payload: out };","outputs":1,"noerr":0,"x":393.5,"y":312,"wires":[["773c919b.eb956"]]},{"id":"773c919b.eb956","type":"function","z":"1cd194d3.18e8db","name":"Filename (.wav)","func":"msg.payload = msg.payload.formatted + \".wav\"\n\n// Add to stack.\nvar stack = flow.get('wavs') || [];\nstack.push(msg.payload);\nflow.set('wavs', stack);\n\nreturn msg;","outputs":1,"noerr":0,"x":513.5,"y":236,"wires":[[]]},{"id":"8266dc3a.e6da8","type":"inject","z":"1cd194d3.18e8db","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.5,"y":65,"wires":[[]]},{"id":"b5eefbd8.e4abc8","type":"exec","z":"1cd194d3.18e8db","command":"ps aux | grep \"[s]ox\" | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","name":"Get sox PID","x":105.5,"y":132.5,"wires":[["2fd2b2e.925084e"],[],[]]},{"id":"3fc367f5.9575b8","type":"exec","z":"1cd194d3.18e8db","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":370,"y":123.5,"wires":[["d7acb07c.1bba5","ca2daa92.b22728"],[],[]]},{"id":"a9a75577.112b28","type":"debug","z":"1cd194d3.18e8db","name":"","active":false,"console":"false","complete":"payload","x":644,"y":167,"wires":[]},{"id":"2fd2b2e.925084e","type":"switch","z":"1cd194d3.18e8db","name":"if integer","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"9999999","v2t":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":197,"y":212,"wires":[["3fc367f5.9575b8","6a08cb3a.f628a4"],["d7acb07c.1bba5"]]},{"id":"ca2daa92.b22728","type":"function","z":"1cd194d3.18e8db","name":"","func":"var stack = flow.get('wavs') || [];\n\nnode.log(stack);\n\nif(stack.length <= 1){\n    return null;\n}\n\nmsg.payload = stack[stack.length-2];\n\nreturn msg;","outputs":1,"noerr":0,"x":171,"y":369,"wires":[["2f5c6ed6.d58582"]]},{"id":"2f5c6ed6.d58582","type":"debug","z":"1cd194d3.18e8db","name":"","active":true,"console":"false","complete":"payload","x":373,"y":362,"wires":[]},{"id":"a328a280.1a0c5","type":"inject","z":"1cd194d3.18e8db","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113,"y":466,"wires":[["25d04576.71ab7a"]]},{"id":"80020a13.13d138","type":"exec","z":"1cd194d3.18e8db","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":388,"y":448,"wires":[[],[],[]]},{"id":"25d04576.71ab7a","type":"function","z":"1cd194d3.18e8db","name":"","func":"var stack = flow.get('wavs') || [];\nflow.set('wavs', []);\n\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":457,"wires":[["80020a13.13d138"]]},{"id":"6a08cb3a.f628a4","type":"template","z":"1cd194d3.18e8db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Has active process: ({{payload}})","x":486.5,"y":191,"wires":[["a9a75577.112b28"]]},{"id":"7b4572f0.ff6fac","type":"debug","z":"1cd194d3.18e8db","name":"","active":true,"console":"false","complete":"true","x":607.5,"y":496,"wires":[]},{"id":"c0aab00a.253a3","type":"debug","z":"1cd194d3.18e8db","name":"","active":true,"console":"false","complete":"payload","x":682.5,"y":744,"wires":[]},{"id":"5208f7b1.8c5708","type":"function","z":"98cd304d.c9078","name":"date","func":"var date = new Date();\nvar d = {\n  \"secs\"  : String(\"00\" + date.getSeconds()).slice(-2),\n  \"min\"   : String(\"00\" + date.getMinutes()).slice(-2),\n  \"hour\"  : String(\"00\" + date.getHours()).slice(-2),\n  \"day\"   : String(\"00\" + date.getDate()).slice(-2),\n  \"month\" : String(\"00\" + parseInt(date.getMonth()+1)).slice(-2),\n  \"year\"  : date.getFullYear()\n}\n\nvar out = { \n    \"formatted\" :   d.year + '-' +\n                    d.month + '-' +\n                    d.day + '-' +                    \n                    d.hour + d.min + d.secs,\n    \"timestamp\" :   msg.payload\n}\n\nreturn { payload: out };","outputs":1,"noerr":0,"x":441,"y":28,"wires":[["a14fb87b.e765a8"]]},{"id":"a0b6a66c.a09888","type":"exec","z":"98cd304d.c9078","command":"cd /Users/gfoote/Dropbox/Projects/EMILY_CUSSINS/production/ && sox -d","addpay":true,"append":"","useSpawn":"","name":"Start recording","x":760,"y":47,"wires":[[],[],[]]},{"id":"774265d5.b4d7cc","type":"exec","z":"98cd304d.c9078","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":570,"y":106,"wires":[["5208f7b1.8c5708"],[],[]]},{"id":"581ddc3d.2b2094","type":"exec","z":"98cd304d.c9078","command":"ps aux | grep \"[s]ox\" | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","name":"Get sox PID","x":366,"y":90,"wires":[["774265d5.b4d7cc"],[],[]]},{"id":"a14fb87b.e765a8","type":"function","z":"98cd304d.c9078","name":"prep+store","func":"msg.payload = msg.payload.formatted + \".wav\"\n\n// Add to stack.\nvar stack = flow.get('wavs') || [];\nstack.push(msg.payload);\nflow.set('wavs', stack);\n\nreturn msg;","outputs":1,"noerr":0,"x":594,"y":25,"wires":[["a0b6a66c.a09888"]]},{"id":"1a2b1be3.e8f224","type":"exec","z":"98cd304d.c9078","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":509,"y":722,"wires":[[],[],[]]},{"id":"11928533.a0618b","type":"exec","z":"98cd304d.c9078","command":"ps aux | grep \"[s]ox\" | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","name":"Get sox PID","x":322,"y":729,"wires":[["1a2b1be3.e8f224"],[],[]]},{"id":"7503c2d1.370aec","type":"inject","z":"98cd304d.c9078","name":"kill","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144,"y":572,"wires":[["c01ee3da.fd674"]]},{"id":"ceb19058.8d0d2","type":"function","z":"98cd304d.c9078","name":"extract file","func":"var stack = flow.get('wavs') || [];\nnode.warn(stack);\nif(stack.length >= 1){\n    msg.payload = stack[0];\n    stack.splice(0, 1);\n    flow.set(\"wavs\", stack);\n    msg.stack = stack;\n    return [msg, null];\n} else {\n    msg.payload = \"Stack empty\";\n    return [null, msg]\n}","outputs":"2","noerr":0,"x":172.5,"y":236,"wires":[["c99de66.9f60d18"],["94a5c7ae.aa20f8"]]},{"id":"c01ee3da.fd674","type":"function","z":"98cd304d.c9078","name":"","func":"flow.set('wavs', null);\nflow.set('transcripts', null);\n\nvar stack = flow.get('wavs') || [];\nvar transcripts = flow.get('transcripts') || [];\nif(stack.length > 0 || transcripts.length > 0){\n    node.warn(\"Stacks should be empty\");\n}\n\nreturn msg;","outputs":"2","noerr":0,"x":210,"y":648,"wires":[["11928533.a0618b"],[]]},{"id":"94a5c7ae.aa20f8","type":"debug","z":"98cd304d.c9078","name":"","active":true,"console":"false","complete":"payload","x":329,"y":311,"wires":[]},{"id":"706454b8.b3272c","type":"file in","z":"98cd304d.c9078","name":"","filename":"","format":"","x":405,"y":168,"wires":[["11d57abe.9da5b5"]]},{"id":"c99de66.9f60d18","type":"function","z":"98cd304d.c9078","name":"set filename","func":"msg.filename = \"/Users/gfoote/Dropbox/Projects/EMILY_CUSSINS/production/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":335.5,"y":221,"wires":[["706454b8.b3272c"]]},{"id":"5987a085.99b78","type":"debug","z":"98cd304d.c9078","name":"","active":true,"console":"false","complete":"false","x":795,"y":302,"wires":[]},{"id":"11be42de.51bd5d","type":"function","z":"98cd304d.c9078","name":"transcript","func":"if(msg.payload.results.length > 0){\n    msg.payload = msg.payload.results[0].alternatives[0].transcript;\n    msg.transcript = msg.payload;\n} else {\n    msg.payload = \"\"; \n    msg.transcript = \"\";\n}\nreturn msg;","outputs":"1","noerr":0,"x":522.5,"y":224,"wires":[["5a899ee1.0c746"]]},{"id":"11d57abe.9da5b5","type":"function","z":"98cd304d.c9078","name":"headers","func":"msg.headers = {'Content-Type' : 'audio/wav'};\nmsg.url=\"https://stream.watsonplatform.net/speech-to-text/api/v1/recognize?timestamps=true&continuous=true\";\nreturn msg;","outputs":1,"noerr":0,"x":547.5,"y":169,"wires":[["2eb18080.f75d5"]]},{"id":"5a899ee1.0c746","type":"sentiment","z":"98cd304d.c9078","name":"","x":680.5,"y":232,"wires":[["5f7460d3.4a598"]]},{"id":"eb97dc98.f3aca","type":"ui_template","z":"98cd304d.c9078","tab":"d7d05398.e8709","name":"","group":"","order":1,"format":"<header><h3>Queued: {{msg.stack.length}}</h3></header>\n<div ng-repeat=\"t in msg.transcripts\">\n    <div>({{t}})</div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":690.5,"y":387,"wires":[["ceb19058.8d0d2"]]},{"id":"3fde1966.5382e6","type":"inject","z":"98cd304d.c9078","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":176,"wires":[["ceb19058.8d0d2"]]},{"id":"cd2bdad7.050f88","type":"inject","z":"98cd304d.c9078","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137.5,"y":459,"wires":[["b3a0dec1.4d1cd"]]},{"id":"1b0ade06.77f472","type":"debug","z":"98cd304d.c9078","name":"","active":true,"console":"false","complete":"payload","x":398.5,"y":460,"wires":[]},{"id":"b3a0dec1.4d1cd","type":"function","z":"98cd304d.c9078","name":"extract file","func":"var stack = flow.get('wavs') || [];\nvar transcripts = flow.get('transcripts') || [];\nmsg.payload = { stack: stack, transcripts : transcripts};\n\nreturn msg;","outputs":"2","noerr":0,"x":260,"y":522,"wires":[["1b0ade06.77f472"],[]]},{"id":"9244ed2c.27f9","type":"function","z":"98cd304d.c9078","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\t\tbreak;\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":240,"y":35,"wires":[["581ddc3d.2b2094"],["8ec921c6.f013a"]]},{"id":"8ec921c6.f013a","type":"delay","z":"98cd304d.c9078","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":152,"y":112,"wires":[["9244ed2c.27f9"]]},{"id":"949cb6b0.5747d8","type":"inject","z":"98cd304d.c9078","name":"start","topic":"loop2","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":99,"y":23,"wires":[["9244ed2c.27f9"]]},{"id":"9958f523.a313e8","type":"inject","z":"98cd304d.c9078","name":"stop","topic":"loop2","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":68,"wires":[["9244ed2c.27f9"]]},{"id":"5f7460d3.4a598","type":"function","z":"98cd304d.c9078","name":"store","func":"// Add to stack.\nvar transcripts = flow.get('transcripts') || [];\ntranscripts.push({\n    transcript : msg.transcript, \n    sentiment  : msg.sentiment.score\n});\nflow.set('transcripts', transcripts);\nmsg.transcripts = transcripts.reverse();\nreturn msg;","outputs":"1","noerr":0,"x":591,"y":281,"wires":[["eb97dc98.f3aca","5987a085.99b78"]]},{"id":"2eb18080.f75d5","type":"http request","z":"98cd304d.c9078","name":"S2T","method":"POST","ret":"obj","url":"","x":711.5,"y":146,"wires":[["11be42de.51bd5d"]]},{"id":"ce82cf5b.c6dc2","type":"inject","z":"98cd304d.c9078","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":398,"y":390,"wires":[["deeb18df.2a4928"]]},{"id":"deeb18df.2a4928","type":"function","z":"98cd304d.c9078","name":"debug","func":"// Add to stack.\nvar transcripts = flow.get('transcripts') || [];\nflow.set('transcripts', transcripts);\nnode.warn(transcripts);\nmsg.transcripts = transcripts;\nmsg.stack = [];\nreturn msg;","outputs":"1","noerr":0,"x":532,"y":403,"wires":[["eb97dc98.f3aca"]]},{"id":"2226bda0.ede082","type":"osc in","z":"98cd304d.c9078","name":"","addr":"127.0.0.1","port":"12001","x":106.5,"y":314,"wires":[["92689d3b.bd9fa"]]},{"id":"92689d3b.bd9fa","type":"debug","z":"98cd304d.c9078","name":"","active":true,"console":"false","complete":"false","x":216.5,"y":383,"wires":[]},{"id":"70a0aac3.659cd4","type":"function","z":"b8c8344b.3eedb8","name":"date","func":"var date = new Date();\nvar d = {\n  \"secs\"  : String(\"00\" + date.getSeconds()).slice(-2),\n  \"min\"   : String(\"00\" + date.getMinutes()).slice(-2),\n  \"hour\"  : String(\"00\" + date.getHours()).slice(-2),\n  \"day\"   : String(\"00\" + date.getDate()).slice(-2),\n  \"month\" : String(\"00\" + parseInt(date.getMonth()+1)).slice(-2),\n  \"year\"  : date.getFullYear()\n}\n\nvar out = { \n    \"formatted\" :   d.year + '-' +\n                    d.month + '-' +\n                    d.day + '-' +                    \n                    d.hour + d.min + d.secs,\n    \"timestamp\" :   msg.payload\n}\n\nreturn { payload: out };","outputs":1,"noerr":0,"x":488.5,"y":41,"wires":[["1705aceb.5eba33"]]},{"id":"2ea1e4f2.a2422c","type":"exec","z":"b8c8344b.3eedb8","command":"cd ","addpay":true,"append":"","useSpawn":"","name":"Start recording","x":770.5,"y":71,"wires":[[],[],[]]},{"id":"324652d2.cf845e","type":"exec","z":"b8c8344b.3eedb8","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":404.5,"y":99,"wires":[["70a0aac3.659cd4"],[],[]]},{"id":"b248cd61.70afd","type":"exec","z":"b8c8344b.3eedb8","command":"ps aux | grep \"[s]ox\" | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","name":"Get sox PID","x":305.5,"y":42,"wires":[["324652d2.cf845e"],[],[]]},{"id":"8d633342.0fee","type":"inject","z":"b8c8344b.3eedb8","name":"start","topic":"loop2","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":81.5,"y":79,"wires":[["b248cd61.70afd","f8186ee9.08d71","55ec8e98.ce3fb"]]},{"id":"60fa403.12110c","type":"exec","z":"b8c8344b.3eedb8","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":508,"y":187,"wires":[["39e517a7.e68e18","5456ca46.ed6244"],[],[]]},{"id":"91ca0b97.1c3d08","type":"exec","z":"b8c8344b.3eedb8","command":"ps aux | grep \"[s]ox\" | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","name":"Get sox PID","x":355,"y":183,"wires":[["60fa403.12110c"],[],[]]},{"id":"f8186ee9.08d71","type":"delay","z":"b8c8344b.3eedb8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":251,"y":112,"wires":[["91ca0b97.1c3d08"]]},{"id":"a54540ca.7826b","type":"exec","z":"b8c8344b.3eedb8","command":"kill -9 ","addpay":true,"append":"","useSpawn":"","name":"","x":500,"y":975,"wires":[[],[],[]]},{"id":"45e59e77.db681","type":"exec","z":"b8c8344b.3eedb8","command":"ps aux | grep \"[s]ox\" | awk '{print $2}'","addpay":false,"append":"","useSpawn":"","name":"Get sox PID","x":313,"y":982,"wires":[["a54540ca.7826b"],[],[]]},{"id":"f3e58262.fad87","type":"inject","z":"b8c8344b.3eedb8","name":"kill","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135,"y":825,"wires":[["f7f2e99f.aed3e8"]]},{"id":"f7f2e99f.aed3e8","type":"function","z":"b8c8344b.3eedb8","name":"","func":"flow.set('wavs', null);\nflow.set('transcripts', null);\n\nvar stack = flow.get('wavs') || [];\nvar transcripts = flow.get('transcripts') || [];\nif(stack.length > 0 || transcripts.length > 0){\n    node.warn(\"Stacks should be empty\");\n}\n\nreturn msg;","outputs":"2","noerr":0,"x":201,"y":901,"wires":[["45e59e77.db681"],[]]},{"id":"39e517a7.e68e18","type":"function","z":"b8c8344b.3eedb8","name":"extract file","func":"var stack = flow.get('wavs') || [];\nnode.warn(stack);\nif(stack.length >= 1){\n    msg.payload = stack[0];\n    stack.splice(0, 1);\n    flow.set(\"wavs\", stack);\n    msg.stack = stack;\n    return [msg, null];\n} else {\n    msg.payload = \"Stack empty\";\n    return [null, msg]\n}","outputs":"2","noerr":0,"x":158,"y":276,"wires":[["ef78b7ae.657c28"],["cd0f5fdb.d23c"]]},{"id":"ef78b7ae.657c28","type":"function","z":"b8c8344b.3eedb8","name":"set filename","func":"msg.filename = flow.get(\"base_dir\") + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":330,"wires":[["c48f5cd4.83292"]]},{"id":"cd0f5fdb.d23c","type":"debug","z":"b8c8344b.3eedb8","name":"","active":true,"console":"false","complete":"payload","x":281.5,"y":427,"wires":[]},{"id":"c48f5cd4.83292","type":"file in","z":"b8c8344b.3eedb8","name":"","filename":"","format":"","x":364.5,"y":272,"wires":[["5e96652b.106a2c"]]},{"id":"5e96652b.106a2c","type":"function","z":"b8c8344b.3eedb8","name":"headers","func":"msg.headers = {'Content-Type' : 'audio/wav'};\nmsg.url=\"https://stream.watsonplatform.net/speech-to-text/api/v1/recognize?timestamps=true&continuous=true\";\nreturn msg;","outputs":1,"noerr":0,"x":516,"y":266,"wires":[["6eeb75e0.c2d2fc"]]},{"id":"6eeb75e0.c2d2fc","type":"http request","z":"b8c8344b.3eedb8","name":"S2T","method":"POST","ret":"obj","url":"","x":666,"y":253,"wires":[["99e926fb.6ba4b8"]]},{"id":"99e926fb.6ba4b8","type":"function","z":"b8c8344b.3eedb8","name":"transcript","func":"if(msg.payload.results.length > 0){\n    msg.payload = msg.payload.results[0].alternatives[0].transcript;\n    msg.transcript = msg.payload;\n} else {\n    msg.payload = \"\"; \n    msg.transcript = \"\";\n}\nreturn msg;","outputs":"1","noerr":0,"x":475,"y":340,"wires":[["56890263.dedb2c","feeea6ec.2f99e8"]]},{"id":"56890263.dedb2c","type":"sentiment","z":"b8c8344b.3eedb8","name":"","x":632,"y":340,"wires":[["cdc10919.151638"]]},{"id":"cdc10919.151638","type":"function","z":"b8c8344b.3eedb8","name":"store","func":"// Add to stack.\nvar transcripts = flow.get('transcripts') || [];\ntranscripts.push({\n    transcript : msg.transcript, \n    sentiment  : msg.sentiment.score\n});\nflow.set('transcripts', transcripts);\nmsg.transcripts = transcripts.reverse();\nmsg.payload = parseInt(msg.sentiment.score);\nreturn msg;","outputs":"1","noerr":0,"x":543.5,"y":397,"wires":[["acebff00.93f05"]]},{"id":"feeea6ec.2f99e8","type":"debug","z":"b8c8344b.3eedb8","name":"","active":true,"console":"false","complete":"payload","x":769.5,"y":395,"wires":[]},{"id":"acebff00.93f05","type":"ui_template","z":"b8c8344b.3eedb8","tab":"89db97c.6471c68","name":"","group":"","order":1,"format":"<header><h3>Queued: {{msg.stack.length}}</h3></header>\n<div ng-repeat=\"t in msg.transcripts\">\n    <div>({{t}})</div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":663,"y":454,"wires":[["cbc6f2e0.e855"]]},{"id":"1705aceb.5eba33","type":"function","z":"b8c8344b.3eedb8","name":"prep+store","func":"var filename = msg.payload.formatted + \".wav\";\nmsg.payload = \" \" + flow.get(\"base_dir\") + \" && sox -d \" + filename;\n\n// Add to stack.\nvar stack = flow.get('wavs') || [];\nstack.push(filename);\nflow.set('wavs', stack);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":583,"y":91,"wires":[["2ea1e4f2.a2422c"]]},{"id":"55ec8e98.ce3fb","type":"function","z":"b8c8344b.3eedb8","name":"Flow config","func":"flow.set(\"base_dir\", \"/Users/gfoote/Dropbox/Projects/EMILY_CUSSINS/production/\");\nreturn null;","outputs":1,"noerr":0,"x":188,"y":160,"wires":[[]]},{"id":"cbc6f2e0.e855","type":"osc out","z":"b8c8344b.3eedb8","name":"Processing complete","addr":"localhost","port":"13000","path":"/processingcomplete","x":752,"y":523,"wires":[]},{"id":"fa5544fc.a9ff68","type":"osc in","z":"b8c8344b.3eedb8","name":"","addr":"127.0.0.1","port":"12000","x":95,"y":29,"wires":[["b248cd61.70afd","f8186ee9.08d71","55ec8e98.ce3fb"]]},{"id":"5456ca46.ed6244","type":"osc out","z":"b8c8344b.3eedb8","name":"Recording complete","addr":"localhost","port":"13000","path":"/recordingcomplete","x":752,"y":161,"wires":[]},{"id":"b6241b42.9fa458","type":"inject","z":"b8c8344b.3eedb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116,"y":555,"wires":[["d35c3c03.d86af"]]},{"id":"8ad85a4c.40af88","type":"debug","z":"b8c8344b.3eedb8","name":"","active":true,"console":"false","complete":"payload","x":377,"y":556,"wires":[]},{"id":"d35c3c03.d86af","type":"function","z":"b8c8344b.3eedb8","name":"extract file","func":"var stack = flow.get('wavs') || [];\nvar transcripts = flow.get('transcripts') || [];\nmsg.payload = { stack: stack, transcripts : transcripts};\n\nreturn msg;","outputs":"2","noerr":0,"x":238.5,"y":618,"wires":[["8ad85a4c.40af88"],[]]}]