node-red/lib/flows/map/polygon-animation
[{"id":"252a93fe.cb9a6c","type":"function","z":"1942d7a0.3a21b8","name":"Add thing to map","func":"var thing = {\n    layer: \"winnie map\",\n    name: \"test line\",\n    iconColor:\"blue\",\n    line: [ \n        [51.05, -0.08], \n        [51.5, -1], \n        [51.2, -0.047]\n    ]\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":564,"y":315,"wires":[["f6ea8aeb.1a2cd8"]]},{"id":"f6ea8aeb.1a2cd8","type":"worldmap","z":"1942d7a0.3a21b8","name":"","x":1027,"y":484,"wires":[]},{"id":"54fd793b.e7ab68","type":"function","z":"1942d7a0.3a21b8","name":"Add 1st Marker","func":"var thing = {\n    name: \"1st marker\",\n    layer: \"winnie map\",\n    lat: 51.05,\n    lon : -0.08\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":432,"wires":[["f6ea8aeb.1a2cd8"]]},{"id":"9211ae2a.54701","type":"function","z":"1942d7a0.3a21b8","name":"Delete 1st marker","func":"var thing = {\n    name: \"1st marker\",\n    layer: \"winnie map\",\n    lat: 51.05,\n    lon : -0.08,\n    deleted: true\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":582,"y":526,"wires":[["f6ea8aeb.1a2cd8"]]},{"id":"9db8a43b.e09c28","type":"function","z":"1942d7a0.3a21b8","name":"Add 2nd Marker","func":"var thing = {\n    name: \"2nd marker\",\n    layer: \"winnie map\",\n    lat: 51.5,\n    lon : -1\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":567,"wires":[["f6ea8aeb.1a2cd8"]]},{"id":"f1df00a9.5e8f6","type":"function","z":"1942d7a0.3a21b8","name":"Delete 2nd marker","func":"var thing = {\n    name: \"2nd marker\",\n    layer: \"winnie map\",\n    lat: 51.05,\n    lon : -0.08,\n    deleted: true\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":557,"y":693,"wires":[["f6ea8aeb.1a2cd8"]]},{"id":"50c8158c.dc98bc","type":"function","z":"1942d7a0.3a21b8","name":"Add 3rd Marker","func":"var thing = {\n    name: \"3rd marker\",\n    layer: \"winnie map\",\n    lat: 51.2, \n    lon : -0.047\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":554,"y":734,"wires":[["f6ea8aeb.1a2cd8"]]},{"id":"ece681d0.68681","type":"delay","z":"1942d7a0.3a21b8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":329,"y":432,"wires":[["54fd793b.e7ab68"]]},{"id":"98ff1d60.50e3d","type":"delay","z":"1942d7a0.3a21b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":344,"y":517,"wires":[["9211ae2a.54701","9db8a43b.e09c28"]]},{"id":"557c14cb.20c02c","type":"delay","z":"1942d7a0.3a21b8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":654,"wires":[["50c8158c.dc98bc","f1df00a9.5e8f6"]]},{"id":"8d28f602.025ba8","type":"delay","z":"1942d7a0.3a21b8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":329,"y":319,"wires":[["252a93fe.cb9a6c"]]},{"id":"8c5c2c8a.ce1eb","type":"inject","z":"1942d7a0.3a21b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":498,"wires":[["8d28f602.025ba8","ece681d0.68681","98ff1d60.50e3d","557c14cb.20c02c"]]}]